@model dafcon.ViewModels.RandomMovieView
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
This page shows the name and the customer name belong to the movie    

*@

@{
    var className = Model.Customer.Count > 5 ? "popular" : null;

}

<h2 class= "@className"> @Model.Movie.Name</h2>

@if (Model.Customer.Count == 0) {

    <p> No Customers found </p>

}
else {

<ul>
@foreach (var customer in Model.Customer) {

    <li> @customer.Name </li>

}
    </ul>
}